<div class="modal-body" >
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
                    <label for="surname">Invoice:</label> {{Serie}} {{Numero}}
		</div>
		<div class="col-md-4">
                    <label for="surname">Date:</label>   {{Fecha}}
		</div>
		<div class="col-md-4">
                    <label for="surname">Balance:</label> {{Balance}}
		</div>
	</div>
        <br>
	<div class="row">
		<div class="col-md-6">
                    <label for="surname">Name:</label> {{Nombre}}
		</div>
		<div class="col-md-6">
                    <label for="surname">Nit:</label> {{Nit}}
		</div>
	</div>
	<br>
        <div class="row">
		<div class="col-md-12">
                    <label for="surname">Adress:</label> {{Direccion}}
		</div>
	</div>
        <br>
	<div class="row">
		<div class="col-md-12">
                                <div id="grid1" ui-grid="gridOptions" class="gridStylePopD" ui-grid-selection></div>
		</div>
	</div>
	<br>
        <div class="row">
		<div class="col-md-6">
                    Boton
		</div>
		<div class="col-md-6">
                    <p align="right">
                    <label for="surname">Total: </label> {{Moneda}}{{Total}}
                    </p>
		</div>
	</div>
</div>
</div>