<div class="container-fluid">
<div class="row">
 
    <div class="col-md-12">
        <div class="ui-tabs"> 
            <ul class="ui-tabs-nav">
                <a href="#TabPerfil" selected>Mi Perfil</a>
                <a href="#TabConf">Configuracion</a>
                <a href="#TabContactos">Contactos</a>
                <a href="#TabCContraseña">Cambiar Contraseña</a>
            </ul>
        </div>
    </div>
    <div class="col-sm-6" >
        <table>
        <tr>
            <td><label for="surname">Nombre</label></td>
            <td>{{Nombre}}</td>
        </tr>
        <tr>
            <td><label for="surname">Apellidos</label></td>
            <td>{{Apellido}}</td>
        </tr>
        <tr>
            <td><label for="surname">Codigo</label></td>
            <td>{{Codigo}}</td>
        </tr>
        <tr>
            <td><label for="surname">Representante de Ventas</label><br></td>
            <td><buttom class="ghostb">{{RV}}</buttom></td>
        </tr>
        <tr>
            <td><label for="surname">Agente de Servicios</label></td>
            <td><buttom class="ghostb">{{AS}}</buttom></td>
        </tr>
        </table>
        
    </div>
    <div class="col-sm-6">
        <table>
        <tr>
            <td><label for="surname">Direccion</label></td>
            <td><input class="Docu" ng-model="Direccion" type="text"></td>
        </tr>
        <tr>
            <td><label for="surname">Zip</label></td>
            <td><input class="Docu" ng-model="Zip" type="text"></td>
        </tr>
        <tr>
            <td><label for="surname">Télefono</label></td>
            <td><input class="Docu"  ng-model="Telefono" type="text"></td>
        </tr>
        <tr>
            <td><label for="surname">Cellphone</label></td>
            <td><input class="Docu" ng-model="Celular" type="text"></td>
        </tr>
        <tr>
            <td><label for="surname">Fax</label></td>
            <td><input class="Docu"  ng-model="Fax" type="text"></td>
        </tr>
        <tr>
            <td><label for="surname">Email</label></td>
            <td><input class="Docu" ng-model="Email" type="text"></td>
        </tr>
       <tr>
            <td><label for="surname">Nombre de Facturacion</label></td>
            <td><input class="Docu" ng-model="NombreF" type="text"></td>
        </tr>
        <tr>
            <td><label for="surname">Direccion de Facturacion</label></td>
            <td><input class="Docu" ng-model="DireccionF" type="text"></td>
        </tr>
       <tr>
            <td><label for="surname">Nit</label></td>
            <td><input class="Docu" ng-model="Nit" type="text"></td>
        </tr>
        <tr>
            <td><label for="surname">Notificar por Correo</label></td>
            <td><input type="checkbox" ng-model="NC" type="checkbox" ng-model="CM3"></td>
        </tr>
        <tr>
            <td><button type="submit" style="font-size:150%">Cambiar </button></td>
        </tr>
        </table>
        
    </div>
</div>
</div>